/* 版心 */
.w {
  width: 1290px;
  margin: 0 auto;
}
/* 头部部分 */
.header {
  height: 64px;
}
.header .logo {
  float: left;
  width: 217px;
  height: 64px;
  line-height: 64px;
  margin-left: 65px;
}
.header .logo a {
  display: block;
}
.header .logo img {
  width: 217px;
  height: 33px;
  line-height: 33px;
}
.header .nav {
  float: right;
  margin-right: 84px;
  height: 64px;
}
.header .nav ul {
  height: 64px;
}
.header .nav ul li {
  float: left;
  height: 64px;
  line-height: 64px;
  margin-left: 40px;
  font-size: 12px;
}
.header .nav ul li a {
  color: #46494e;
  display: block;
}
.header .nav ul li a:hover {
  color: #c81623;
}
/* banner */
.banner {
  width: 1290px;
  height: 523px;
}
.banner ul li a {
  display: block;
}
.banner ul li a img {
  width: 1290px;
  height: 523px;
}
/* 底部 */
.footer {
  height: 419px;
}
.footer .left {
  float: left;
}
.footer .left img {
  width: 367px;
  height: 384px;
  display: block;
  margin-left: 70px;
  margin-top: 35px;
}
.footer .right {
  float: right;
  width: 675px;
  margin-right: 60px;
  text-align: center;
}
.footer .right h3 {
  font-size: 20px;
}
.footer .right p {
  font-size: 14px;
  line-height: 20px;
}
.footer .right .title1 {
  margin-top: 25px;
  margin-bottom: 35px;
}
.footer .right .title2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer .right span {
  display: block;
  width: 252px;
  height: 52px;
  border: 1px solid #000;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  float: left;
}
.footer .right span a {
  color: #3e94fb;
  margin-left: 20px;
}
.footer .right span:last-child {
  float: right;
}
