.nav {
  height: 45px;
  border-bottom: 2px solid #b3181c;
}
/* 左侧 */
.nav .dropdown {
  width: 209px;
  height: 45px;
}
.nav .dropdown .dt {
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #b1191a;
}
.nav .dropdown .dd {
  width: 209px;
  height: 465px;
  background-color: #c81623;
}
.nav .dropdown .dd li {
  height: 31px;
  line-height: 31px;
  border-left: 1px solid #c81623;
}
.nav .dropdown .dd li:hover {
  background-color: #fff;
}
.nav .dropdown .dd li:hover a {
  color: #c81623;
}
.nav .dropdown .dd li a {
  display: block;
  padding-left: 12px;
  color: #fff;
}
.nav .dropdown .dd li a::after {
  content: "\e920";
  font-family: "icomoon";
  float: right;
  margin-right: 12px;
}
/* 右侧 */
.nav .navitems {
  height: 45px;
  line-height: 45px;
}
.nav .navitems li {
  float: left;
  font-size: 16px;
  margin-left: 45px;
}
/* main */
.main {
  width: 981px;
  height: 454px;
  margin-left: 219px;
  margin-top: 10px;
}
.main .focus {
  float: left;
  width: 721px;
  height: 455px;
}
.main .newflash {
  float: right;
  width: 250px;
  height: 455px;
  background-color: aquamarine;
}
.main .newflash .hd {
  height: 34px;
  border: 1px solid #e5e5e5;
  border-bottom: 1px dotted #e5e5e5;
}
